.mapping{
	width: 80%;
}
.mapoverlay{
	stroke: #000;
	stroke-opacity: .25;
	fill-opacity: 0;
}
.button{
  width: 60px;
  height: 30px;
  padding: 2px;
  font-size: 14px;
  border: 1px #000 solid;
  background-color: #fff;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}